.acordeon{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #9204925b;
    border-radius: 1rem;
    margin: 1rem 0;
    transition: 0.25s;
}
.acordeon.open,
.acordeon:hover{
    background-color: #eeceec;
    border-color: #eeceec;
}
.acordeon .trigger{
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
}
.acordeon .trigger h2{
    text-align: start;
    font-size: 1.25rem;
    margin: 0;
}
.acordeon.open,
.acordeon .trigger:hover{
    cursor: pointer;
}

.acordeon .trigger::after{
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../icons/menu.svg');
    transition: 0.25s;
}
.acordeon.open .trigger::after{
    transform: rotate(180deg);
}
.acordeon .content{
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity 0.35s ease-in-out ;
}
.acordeon.open .content{
    display: inline-block;
    height: auto;
    opacity: 1;
    padding: 0 1rem 1rem 2rem;
}
@media only screen and (min-width: 1025px){
    .acordeon{
        width: 800px;
        margin: auto;
        margin-bottom: 1rem;
    }
}